
.search-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-bar {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1042px;
  padding-right: 10px;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .search-bar {
    max-width: 100%;
  }
}

.search-input-wrapper {
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(180deg, #1cd8d2 0%, #93edc7 100%);
  box-shadow: 0 4px 12px 0 rgba(13, 10, 44, 0.06);
  align-self: stretch;
  display: flex;
  min-width: 240px;
  min-height: 60px;
  width: 1024px;
  gap: 6px;
  overflow: hidden;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 0 8px;
}

@media (max-width: 991px) {
  .search-input-wrapper {
    max-width: 100%;
  }
}

.icon-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  width: 44px;
  margin: auto 0;
  padding: 10px;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.search-input {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  min-width: 240px;
  color: #abb7c2;
  flex: 1;
  margin: auto 0;
  padding: 8px;
  font: 400 18px Poppins, sans-serif;
  border: none;
}

@media (max-width: 991px) {
  .search-input {
    max-width: 100%;
  }
}

.search-button {
  border-radius: 25px;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin: auto 0;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.spacer {
  min-height: 1px;
  margin-top: 12px;
  width: 100%;
}

@media (max-width: 991px) {
  .spacer {
    max-width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
