<div class="login-container">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form [formGroup]="registerForm">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text"
               formControlName="username"
               name="txt"
               placeholder="User name"
               required="" />
        <input type="email"
               formControlName="email"
               name="email"
               placeholder="Email"
               required="" />
        <input type="password"
               formControlName="password"
               name="pswd"
               placeholder="Password"
               required="" />
        <button (click)="register()">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email"
               formControlName="email"
               name="email"
               placeholder="Email"
               required="" />
        <input type="password"
               formControlName="password"
               name="pswd"
               placeholder="Password"
               required="" />
        <button (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>
