<section class="product-container">
  <h1 class="product-title"> LV Trainer Sports Shoes</h1>
  <nav class="product-nav">
    <button class="nav-item" [ngClass]="{'nav-item-active': mode === 'general-info'}" (click)="changeMode('general-info')">General info</button>
    <button class="nav-item" [ngClass]="{'nav-item-active': mode === 'product-detail'}" (click)="changeMode('product-detail')"> Product details </button>
    <button class="nav-item" [ngClass]="{'nav-item-active': mode === 'review'}" (click)="changeMode('review')">
      <div class="review-count">
        <span class="review-text"> Reviews</span>
        <span class="review-number"> 12</span>
      </div>
    </button>
  </nav>
  <hr class="divider">
  <div class="product-details" *ngIf="mode === 'general-info'">
    <div class="details-container">
      <div class="product-image-column">
        <ng-container *ngFor="let subProduct of product.subProductList, let x = index">
          <app-sub-product-carousel *ngIf="subProduct === currentSubProduct" [subProduct]="subProduct"></app-sub-product-carousel>
        </ng-container>
      </div>
      <div class="product-info-column">
        <div class="product-info">
          <div class="price-review-container">
            <div class="price-container" *ngIf="currentSubProduct.discount !== 0">
              <div class="price-wrapper">
                <span class="current-price"> ${{currentSubProduct.sellCost - currentSubProduct.discount * 0.01}}</span>
                <span class="original-price"> ${{currentSubProduct.sellCost}}</span>
              </div>
              <span class="discount-badge"> -{{currentSubProduct.discount}}%</span>
            </div>
            <div class="price-container" *ngIf="currentSubProduct.discount === 0">
              <div class="price-wrapper">
                <span class="current-price"> ${{currentSubProduct.sellCost}}</span>
              </div>
            </div>
            <div class="rating-container">
              <div class="star-rating">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f154043768e2011119b18909a5ba6e5ace4200a240db0a79c134cda07b3a657?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Star" class="star-icon" loading="lazy">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f154043768e2011119b18909a5ba6e5ace4200a240db0a79c134cda07b3a657?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Star" class="star-icon" loading="lazy">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f154043768e2011119b18909a5ba6e5ace4200a240db0a79c134cda07b3a657?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Star" class="star-icon" loading="lazy">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f154043768e2011119b18909a5ba6e5ace4200a240db0a79c134cda07b3a657?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Star" class="star-icon" loading="lazy">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad6a2744a4ef102bcaef9e9b888aea04e4515656482a4a192e0cf0dc7ea5a4a1?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Half Star" class="star-icon" loading="lazy">
              </div>
              <a href="#" class="review-link"> 12 reviews</a>
            </div>
          </div>
          <div class="product-options">
            <div class="color-size-column">
              <label class="color-label"> Option </label>
              <div class="container text-center">
                <div class="row row-cols-auto">
                  <div class="col btn text-bg-secondary p-2 m-1 position-relative" *ngFor="let subProduct of product.subProductList, let x = index" (click)="changeCurrentSubProduct(x)">
                    {{subProduct.name}}
                    <span *ngIf="subProduct === currentSubProduct" class="position-absolute top-100 start-100 translate-middle badge border border-light rounded-circle bg-danger p-2"><span class="visually-hidden">unread messages</span></span>
                  </div>
                </div>
              </div>
              <div class="size-selector">
                <div class="size-chart-link">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/237c41929bd156b51e1e4288687abec070ac4ae8d095044b2d4cca9d01a34e94?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Size Chart" class="chart-icon" loading="lazy">
                  <span class="chart-text">Current In Stock: {{currentSubProduct.inStock}}</span>
                </div>
              </div>
              <div class="size-selector">
                <div class="size-chart-link">
                  <span class="chart-text">Description: {{currentSubProduct.description}}</span>
                </div>
              </div>
              <div class="action-buttons">
                <div class="row justify-content-center">
                  <div class="btn-group bg-secondary p-2" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="changeNumberAdd(-1)">-</button>
                    <input type="number" class="quantity-selector align-self-center" min="1" value="1" aria-label="Quantity" [(ngModel)]="numberAdd">
                    <button type="button" class="btn btn-success" (click)="changeNumberAdd(1)">+</button>
                  </div>
                </div>
                <button class="add-to-cart-btn">
                  <div class="btn-content">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1c4992fd43853cddb5dd5e3cbfffe952043ba13f6a016a2bd92128fb754a7b7f?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Cart" class="cart-icon" loading="lazy">
                    <span class="btn-text"> Add to cart</span>
                  </div>
                </button>
                <button class="favorite-btn">
                  <div class="favorite-content">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5f110bec4fe0f91d3608ec940aa3206c08d29f2a364a5a44f8ba96fae9c3ebc9?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Favorite" class="heart-icon" loading="lazy">
                    <span class="favorite-text"> Favourite</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <h2 class="delivery-title"> Delivery</h2>
          <p class="delivery-info"> Free standard shipping on orders <strong> over $35</strong> before tax, plus free returns.</p>
          <div class="">
            <div class="table-row">
              <div class="table-column col-4">
                <div class="table-content">
                  <span class="table-header"> TYPE</span>
                  <span class="table-cell"> Standard delivery</span>
                  <span class="table-cell"> Express delivery</span>
                  <span class="table-cell"> Pick up in store</span>
                </div>
              </div>
              <div class="table-column col-4">
                <div class="table-content">
                  <span class="table-header"> HOW LONG</span>
                  <span class="table-cell"> 1-4 business days</span>
                  <span class="table-cell"> 1 business day</span>
                  <span class="table-cell"> 1-3 business days</span>
                </div>
              </div>
              <div class="table-column-narrow col-2">
                <div class="table-content">
                  <span class="table-header"> HOW MUCH</span>
                  <span class="table-cell"> $4.50</span>
                  <span class="table-cell"> $10.00</span>
                  <span class="table-cell"> Free</span>
                </div>
              </div>
            </div>
          </div>
          <hr class="divider-light">
          <h2 class="return-title"> Return</h2>
          <p class="return-info"> You have <strong> 60 days</strong> to return the item(s) using any of the following methods:</p>
          <ul class="return-options">
            <li class="return-option"> Free store return</li>
            <li class="return-option"> Free returns via USPS Dropoff Service</li>
          </ul>
          <hr class="divider-dark">
          <div class="share-container">
            <span class="share-text"> Share:</span>
            <a href="#" aria-label="Share on Facebook">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a4ab6ce26044abef7ab4a57857a5818a27b6dc6543c8b96fd986da917dadd380?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Facebook" class="share-icon" loading="lazy">
            </a>
            <a href="#" aria-label="Share on Twitter">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c9118471e36f42ded8758070ca7a8fd4b11f74c97ed984a620aa986fed435235?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Twitter" class="share-icon" loading="lazy">
            </a>
            <a href="#" aria-label="Share on Pinterest">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/25a20e004a7f359d1d8ab660155093d352b2a1fae8622103b04b7806c1fb267c?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Pinterest" class="share-icon" loading="lazy">
            </a>
          </div>
          <div class="payment-options">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/84786a9b93535d5745d1ad7236659260e6432ac8d66c103688274e8f301bf1b0?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Payment Option 1" class="payment-icon" loading="lazy">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/32d75d4a8c9b847864df6acd1fc188383055d0db28ce63750678813a2f7bdcc4?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Payment Option 2" class="payment-icon" loading="lazy">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/69a505746a4adf74554b2b9c7a743bc3b9fc363c71b298e395d9ced68e870f5d?apiKey=1badbc3564ac4e7182b84891783ee2cd&" alt="Payment Option 3" class="payment-icon-narrow" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-details" *ngIf="mode === 'product-detail'">
    <div class="mx-auto p-2" style="width: 500px;">
      <img [src]="product.image" class="object-fit-contain border h-100 w-100 main-img" alt="...">
    </div>
    <div style="width:800px" class="mx-auto p-2">
      <div class="table-row p-3">
        <div class="table-column col-3">
          <div class="table-content">
            <span class="table-header">Attribute</span>
            <span class="table-cell"> Name</span>
            <span class="table-cell"> Category</span>
            <span class="table-cell"> Brand</span>
            <span class="table-cell"> Description</span>
          </div>
        </div>
        <div class="table-column col-9">
          <div class="table-content">
            <span class="table-header">Info</span>
            <span class="table-cell"> {{product.name}}</span>
            <span class="table-cell">
              <a *ngFor="let category of product.categoryList">
                {{category}}
              </a>
            </span>
            <span class="table-cell"> {{product.brandID}}</span>
            <span class="table-cell"> {{product.description}}</span>
          </div>
        </div>
      </div>
    </div></div>
</section>
