<!-- Trigger Button -->
<button type="button" (click)="openModal('Action completed!')">
    Launch Close Modal
</button>

<!-- Modal -->
<div class="modal" [ngClass]="{'show': isVisible}" (click)="closeModal()">
    <div class="modal-dialog" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Notification</h1>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                {{ message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="close-modal" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
