<section class="search-category p-5">
  <div class="category-list">
    <article class="category-item">
      <div class="category-content">
        <h2 class="category-title">Material</h2>
        <ul class="subcategory-list">
          <li class="subcategory-content">
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b19752ea27b54d2d67ad581edadd5a0111773064f7f83a1b2995ebc1f382a988?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1e67b44b568be9612590af8369cd9136b0391f16dd353453396876526ca06b39?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c022139fd61944d150a5ca74713eca90d2ed6bfe0691317d44269f87daeab810?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <article class="category-item">
      <div class="category-content">
        <h2 class="category-title">Color</h2>
        <ul class="subcategory-list">
          <li class="subcategory-content">
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7c749a4c3254373831055495ea05f0917981eb8d51afa590a1ec38937882d207?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/13a0b0d0610616353e4ae6687f1157d1463fa5dcf8f778c5e2ea5161eedf3620?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/860d163d8eb3698a1ca2db339e741eb01b081059dea4bb38695be2dfe8c9d810?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <article class="category-item">
      <div class="category-content">
        <h2 class="category-title">Size</h2>
        <ul class="subcategory-list">
          <li class="subcategory-content">
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6287a5095eb9797f639f4f8d72d9f3e8600dcfc151f48da606462822e6b088d9?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/14328bbb4482839b7775f083aaf626240440e3f4ab10971e4aea4a6f7ccf6cec?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b1cf1b195041c1d05ea489fd9583ff9970dd666c85774e1d6a2e8fab75fb17b7?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <article class="category-item">
      <div class="category-content">
        <h2 class="category-title">Price</h2>
        <ul class="subcategory-list">
          <li class="subcategory-content">
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5f367337d78c29c94dc8cf1c2ac6a139010c590d599634a606ecd660c877ef09?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/95efa4caece2c01366d0ee545ff35893933d75f9ddc80180e8ce71f2f7831e47?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
            <div class="subcategory-item">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8ec9b50977f9d2d55e03f40cb3c7cd28dfe53287e58285ccf82dda8e1186b37b?apiKey=e51cda157a3647efb6a362a799ee758d&&apiKey=e51cda157a3647efb6a362a799ee758d" class="subcategory-icon" alt="" />
              <span class="subcategory-name">Security</span>
            </div>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
