<form>
  <!-- Email input -->
  <!--<mdb-form-control class="mb-4">
    <input mdbInput type="email" id="form1Example1" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example1">Email address</label>
  </mdb-form-control>-->

  <!-- Password input -->
  <!--<mdb-form-control class="mb-4">
    <input mdbInput type="password" id="form1Example2" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example2">Password</label>
  </mdb-form-control>-->

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input mdbCheckbox
               class="form-check-input"
               type="checkbox"
               value=""
               id="form1Example3"
               checked />
        <label class="form-check-label" for="form1Example3"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button mdbRipple type="button" class="btn btn-primary btn-block">Sign in</button>
</form>
