<div class="row">
  <div class="d-flex justify-content-center col-2 align-self-center">
    <app-button *ngIf="mode === 'view'" color="blue" label="Edit" (buttonClick)="onEditClick()"></app-button>
    <app-button *ngIf="mode !== 'view'" color="green" label="Exit" (buttonClick)="exitEditClick()"></app-button>
    <app-button *ngIf="mode !== 'view'" color="blue" label="Add" (buttonClick)="onAddCategorySectionClick()"></app-button>

  </div>
</div>
<app-table [data]="data" [ignoredAttributes]="ignoredAttributes" [mode]="mode" (addCategoryHandler)="onAddCategory($event)" (deleteCategoryHandler)="onDeleteCategory($event)" (deleteCategorySectionHandler)="onDeleteCategorySection($event)" (changeCategoryHandler)="onChangeCategory($event)" (categoryNameHandler)="onChangecategoryName($event)"></app-table>
<app-pagination [total]="total" (onPageChange)="getCategories($event)"></app-pagination>
