<div class="container-sm">
  <table class="table table-striped table-hover table-bordered border-primary table-sm">
    <thead>
      <tr class="table-primary">
        <th *ngFor="let column of columns">{{ column }}</th>
        <th> Action </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-secondary" *ngFor="let row of data">
        <td *ngFor="let column of columns">
          <ng-container *ngIf="column === 'image'; else otherContent">
            <img loading="lazy" [src]="row.image" alt="Preview Image" class="w-50"/>
          </ng-container>
          <ng-template #otherContent>
            {{ row[column] }}
          </ng-template>

        </td>
        <td> <button (click)="viewDetail(row['id'])">Trigger</button> </td>
      </tr>
    </tbody>
  </table>
</div>
