<div class="rectangle6643"></div>
<div class="frame6">
    <div class="group47733">
        <div class="child">Invoice ID</div>
        <div class="child">Date</div>
        <div class="customer2">Customer</div>
        <div class="payableAmount">Payable Amount</div>
        <div class="paidAmount">Paid Amount</div>
        <div class="due">Due</div>
        <div class="vector106"><img src="assets/vector-106-icon.svg" alt="" class="icon10" /></div>
        <div class="minusSquare">
            <div class="minusSquare2"><img src="assets/minus-square-icon.svg" alt="" class="icon11" /></div>
        </div>
    </div>
