.header {
  justify-content: center;
  border-bottom: 1px solid #000;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  padding: 24px 43px;
  display: flex font-family: system-ui;
  line-height: 30px;
  padding: 24px 43px;
  height: 120px;
}

@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }
}

.header-content {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 14px 0;
}

@media (max-width: 991px) {
  .header-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.logo {
  background: linear-gradient(90deg, #1cd8d2 0%, #93edc7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 600 36px Poppins, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #000000;
  letter-spacing: -0.4px;
  padding: 8px 16px;
}

@media (max-width: 991px) {
  .nav {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.nav-item {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  align-self: stretch;
  margin: auto 0;
}

.nav-item-active {
  text-decoration: none;
  font-weight: 700;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  letter-spacing: -0.4px;
  margin: auto 0;
}

.icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  align-self: stretch;
  margin: auto 0;
}

.icon {
  width: 20px;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
  align-self: stretch;
  width: 1px;
  height: 38px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-self: stretch;
  gap: 6px;
  margin: auto 0;
  font-family: Poppins, sans-serif;
}
