<div class="container-fluid w-50 text-bg-light">
  <img loading="lazy"
       srcset="..."
       class="img" />
  <div class="align-middle default-font">Pride AdiosBreak Shoe</div>
  <table class="table table-striped table-hover border-secondary table-sm">
    <tbody>
      <tr>
        <td>Brand</td>
        <td>Adios</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>
          <div class="grid gap-0 column-gap-2 d-flex flex-row">
            <div class="badge text-bg-secondary rounded-pill default-font">Shoe</div>
            <div class="badge text-bg-secondary rounded-pill default-font">Male</div>
            <div class="badge text-bg-secondary rounded-pill default-font">Sport</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </td>
      </tr>
    </tbody>
  </table>
  <div class="div-17 mx-auto">Edit</div>
</div>
