<h3>Sub Product</h3>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="favicon.ico" class="d-block w-100" alt="...">
    </div>
    <div *ngFor="let subProduct of subProducts" class="carousel-item">
      <table class="table align-middle shadow">
        <tbody>
          <tr>
            <th class="col-3">
              <label class="col-sm-2 col-form-label mx-3 text-capitalize">Name:</label>
            </th>
            <td class="col-9" colspan="3">
              <div class="form-floating">
                <input id="{{ subProduct['name'] }}" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext pt-2' : mode === 'view', 'is-invalid': checkValidAttribute('name') === false}" type="text" [readonly]="mode === 'view'" [value]="subProduct['name']" [(ngModel)]="subProduct['name']" placeholder="">
                <label *ngIf="mode !== 'view'" for="subProduct['name']"> name </label>
                <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('name') === false">
                  invalid name
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="col-2">
              <label class="col-sm-2 col-form-label mx-3 text-capitalize">In Stock:</label>
            </th>
            <td class="col-4">
              <div class="form-floating">
                <input id="{{ subProduct['inStock'] }}" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext pt-2' : mode === 'view', 'is-invalid': checkValidAttribute('instock') === false}" type="text" [readonly]="mode === 'view'" [value]="subProduct['inStock']" [(ngModel)]="subProduct['inStock']" placeholder="">
                <label *ngIf="mode !== 'view'" for="subProduct['name']"> name </label>
                <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('name') === false">
                  invalid name
                </div>
              </div>
            </td>
            <th class="col-2">
              <label class="col-sm-2 col-form-label mx-3 text-capitalize">State:</label>
            </th>
            <td class="col-4">
              <div class="form-floating">
                <input id="{{ subProduct['state'] }}" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext pt-2' : mode === 'view', 'is-invalid': checkValidAttribute('state') === false}" type="text" [readonly]="mode === 'view'" [value]="subProduct['state']" [(ngModel)]="subProduct['state']" placeholder="">
                <label *ngIf="mode !== 'view'" for="subProduct['name']"> name </label>
                <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('name') === false">
                  invalid name
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="col-2">
              <label class="col-sm-2 col-form-label mx-3 text-capitalize">Buy:</label>
            </th>
            <td class="col-4">
              <div class="form-floating">
                <input id="{{ subProduct['buyCost'] }}" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext pt-2' : mode === 'view', 'is-invalid': checkValidAttribute('buyCost') === false}" type="text" [readonly]="mode === 'view'" [value]="subProduct['buyCost']" [(ngModel)]="subProduct['buyCost']" placeholder="">
                <label *ngIf="mode !== 'view'" for="subProduct['name']"> name </label>
                <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('name') === false">
                  invalid name
                </div>
              </div>
            </td>
            <th class="col-2">
              <label class="col-sm-2 col-form-label mx-3 text-capitalize">Sell:</label>
            </th>
            <td class="col-4">
              <div class="form-floating">
                <input id="{{ subProduct['sellCost'] }}" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext pt-2' : mode === 'view', 'is-invalid': checkValidAttribute('sellCost') === false}" type="text" [readonly]="mode === 'view'" [value]="subProduct['sellCost']" [(ngModel)]="subProduct['sellCost']" placeholder="">
                <label *ngIf="mode !== 'view'" for="subProduct['name']"> name </label>
                <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('name') === false">
                  invalid name
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="col-3">
              <label class="col-sm-2 col-form-label mx-3 text-capitalize">Sale:</label>
            </th>
            <td class="col-9" colspan="3">
              <div class="form-floating">
                <input id="{{ subProduct['discount'] }}" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext pt-2' : mode === 'view', 'is-invalid': checkValidAttribute('discount') === false}" type="text" [readonly]="mode === 'view'" [value]="subProduct['discount']" [(ngModel)]="subProduct['discount']" placeholder="">
                <label *ngIf="mode !== 'view'" for="subProduct['name']"> name </label>
                <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('name') === false">
                  invalid name
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="col-12" colspan="4">
              <label class="d-block col-sm-2 col-form-label mx-3 text-capitalize">Image:</label>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
