<div class="container">
  <div class="row">
    <div class="sidebar col-3 border-end mt-3">
      <h1 class="sidebar__title">Manager Account</h1>
      <nav class="sidebar__nav">
        <ul class="sidebar__list">
          <li class="sidebar__item" [ngClass]="{'sidebar__item--active': view === 'profile'}">
            <div class="sidebar__link" type="button" (click)="setView('profile')">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/07e2b939780b028d0c20ccab9890511a508db436b3a93b1452435c0dca73ee13?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Edit profile icon" class="sidebar__icon" />
              <span class="sidebar__text">Edit profile</span>
            </div>
          </li>
          <li class="sidebar__item" [ngClass]="{'sidebar__item--active': view === 'address'}">
            <div type="button" (click)="setView('address')" class="sidebar__link">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/56ddf2da4cfa1810045b6efd549112deeca645eb8f6737a64a829aad6bef3ed4?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Help icon" class="sidebar__icon" />
              <span class="sidebar__text">Address</span>
            </div>
          </li>
          <li class="sidebar__item" [ngClass]="{'sidebar__item--active': view === 'notification'}">
            <div type="button" (click)="setView('notification')" class="sidebar__link">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b41bfb27c9b1cd4ca7a0bad47c54d800f09180693c71f9c34e1db8a1e2dac90f?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Notification icon" class="sidebar__icon" />
              <span class="sidebar__text">Notification</span>
            </div>
          </li>
          <li class="sidebar__item" [ngClass]="{'sidebar__item--active': view === 'security'}">
            <div type="button" (click)="setView('security')" class="sidebar__link">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb0be6cb736e4fc70eaed84f26c2eece1fb117e6aeb422ff88a5da0c6fd975a7?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Security icon" class="sidebar__icon" />
              <span class="sidebar__text">Security</span>
            </div>
          </li>
          <li class="sidebar__item" [ngClass]="{'sidebar__item--active': view === 'wallet'}">
            <div type="button" (click)="setView('wallet')" class="sidebar__link">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b3a0b7b17f6860c9cd1b7e618e5518e8126427c306ff368e41eb4ffb2e84a682?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Wallet icon" class="sidebar__icon" />
              <span class="sidebar__text">Wallet</span>
            </div>
          </li>
          <li class="sidebar__item" [ngClass]="{'sidebar__item--active': view === 'help'}">
            <div type="button" (click)="setView('help')" class="sidebar__link">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/56ddf2da4cfa1810045b6efd549112deeca645eb8f6737a64a829aad6bef3ed4?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Help icon" class="sidebar__icon" />
              <span class="sidebar__text">Help</span>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="profile-editor col-8 p-3 m-3">
      <ng-container *ngIf="view==='profile'">
        <div class="position-relative align-self-center">
          <img loading="lazy" class="rounded-circle img my-5" [src]="userInfo.image" alt="Preview Image" [ngClass]="{'opacity-50': mode !== 'view'}" />
          <button *ngIf="mode !== 'view'" class="g-col-6 position-absolute start-50 top-50 translate-middle btn-change px-3 py-1" (click)="openFileInput()">Edit</button>
          <input class="form-control " type="file" #fileInput style="display: none" (change)="handleFileInput(fileInput)">
          <div class="position-absolute top-50 start-100 translate-middle-y badge rounded-pill text-bg-danger" *ngIf="checkValidAttribute('image') === false">
            invalid image
          </div>
        </div>
        <section class="profile-details">
          <div class="profile-column">
            <div class="input-group">
              <label for="id">ID</label>
              <input type="text" id="id" class="input-field" [(ngModel)]="userInfo.id" aria-label="ID" readonly>
            </div>
            <div class="input-group">
              <label for="phone">Phone</label>
              <input type="tel" id="phone" class="input-field" [(ngModel)]="userInfo.phoneNumber" aria-label="Phone number" [readonly]="mode === 'view'" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext' : mode === 'view'}">
            </div>
            <div class="input-group col-12">
              <label for="email">Email</label>
              <input type="email" id="email" class="input-field" [(ngModel)]="userInfo.email" aria-label="Email address" [readonly]="mode === 'view'" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext' : mode === 'view'}">
            </div>
          </div>
          <div class="profile-column">
            <div class="input-group">
              <label for="userName">User Name</label>
              <input type="text" id="userName" class="input-field" [(ngModel)]="userInfo.username" placeholder="UserName" aria-label="userName" readonly>
            </div>
            <div class="input-group">
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" class="input-field" [(ngModel)]="userInfo.name" aria-label="Full name" [readonly]="mode === 'view'" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext' : mode === 'view'}">
            </div>
          </div>
        </section>
        <div class="action-buttons" *ngIf="mode !== 'view'">
          <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
          <button class="btn btn-save" (click)="onSave()">Save</button>
        </div>
        <div class="action-buttons" *ngIf="mode === 'view'">
          <button class="btn btn-edit" (click)="onEdit()">Edit</button>
        </div>
      </ng-container>
      <ng-container *ngIf="view==='address'">
        <section class="address-container">
          <h1 class="address-title">Address</h1>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2c42e8be7ff267ade3e30d78a4f08da24b1324cb20cdebfa5e84960784a7deb1?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="" class="decorative-image" />
            <ul class="contact-list">
              <li class="contact-item" *ngFor="let address of userInfo.addressList; let x = index">
                <p class="contact-info">Address {{x}}</p>
                <input class="address-box col-10" [ngClass]="{'form-control': mode !== 'view', 'form-control-plaintext' : mode === 'view'}" [value]="userInfo.addressList[x]" type="text" (blur)="onSaveAddress($event, x)" [readonly]="mode==='view'"/>
              </li>
              <li class="contact-item" *ngIf="mode !== 'view'">
                <button class="btn btn-save" (click)="addNewAddress()">AddNew</button>
              </li>
            </ul>
            <div class="action-buttons" *ngIf="mode !== 'view'">
              <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
              <button class="btn btn-save" (click)="onSave()">Save</button>
            </div>
            <div class="action-buttons" *ngIf="mode === 'view'">
              <button class="btn btn-edit" (click)="onEdit()">Edit</button>
            </div>
        </section>
      </ng-container>
    </div>
  </div>
</div>
