.sidebar {
  font: 28px Roboto, sans-serif;
}

.sidebar__title {
  color: #1c1c1c;
  font-size: 32px;
  font-weight: 700;
}

.sidebar__nav {
  margin-top: 65px;
  padding: 0 36px 0 5px;
}

.sidebar__list {
  list-style-type: none;
  padding: 0;
}

.sidebar__item {
  margin-bottom: 56px;
}

.sidebar__item--active .sidebar__text {
  color: #1c1c1c;
  font-weight: 700;
}

.sidebar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #858585;
}

.sidebar__icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 30px;
}

.sidebar__text {
  font-weight: 500;
}

.img {
  aspect-ratio: 1;
  width: 250px;
  max-width: 100%;
}












.profile-editor {
  display: flex;
  flex-direction: column;
}

.profile-details {
  display: flex;
  gap: 20px;
}

.profile-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

label {
  color: #1c1c1c;
  font: 600 26px Roboto, sans-serif;
  margin-bottom: 6px;
}

.input-field {
  border-radius: 5px;
  background-color: #fff;
  font: 500 24px Roboto, sans-serif;
  color: #858585;
  padding: 17px 21px;
  border: 2px solid #858585;
  width: 100%;
}

.input-with-icon {
  position: relative;
}

.icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.email-display {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  margin-top: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 19px 17px;
  font: 500 24px Roboto, sans-serif;
  color: #858585;
  border: 2px solid #858585;
}

.action-buttons {
  display: flex;
  margin-top: 61px;
  gap: 20px;
  justify-content: flex-start;
}

.btn {
  border-radius: 5px;
  font: 600 28px Roboto, sans-serif;
  padding: 11px 60px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #1c1c1c;
  border-color: #cc0000;
}
.btn-change {
  background-color: #fff;
  color: #1cd8d2;
  border: 2px solid #1c1c1c;
  border-color: #93edc7;
}
.btn-edit {
  background-color: #fff;
  color: #1cd8d2;
  border: 2px solid #1c1c1c;
  border-color: #93edc7;
}

.btn-save {
  background: linear-gradient(90deg, #1cd8d2 0%, #93edc7 100%);
  color: #fff;
  border: none;
}

@media (max-width: 991px) {
  .profile-editor {
    max-width: 100%;
    margin-top: 23px;
  }

  .profile-details {
    flex-direction: column;
  }

  .profile-column {
    width: 100%;
  }

  .input-field {
    padding-left: 20px;
  }

  .email-display {
    max-width: 100%;
    padding-left: 20px;
  }

  .action-buttons {
    margin-top: 40px;
  }

  .btn {
    padding: 11px 20px;
  }
}
