<div class="sIdebar"></div>
<div class="rectangle5886"></div>
<div class="sidebar">
    <div class="frame1">
        <div class="group34633">
            <div class="dashboard">Dashboard</div>
            <div class="element3"><img src="assets/element-3-icon.svg" alt="" class="icon" /></div>
        </div>
        <div class="group34635">
            <div class="shipmentStatus">Shipment status</div>
            <div class="clipboardTick"><img src="assets/clipboard-tick-icon.svg" alt="" class="icon2" /></div>
        </div>
        <div class="group34641">
            <div class="customItemOrder">Custom item order</div>
            <div class="calendarTick"><img src="assets/calendar-tick-icon.svg" alt="" class="icon3" /></div>
        </div>
        <div class="group34642">
            <div class="normalOrder">Normal Order</div>
            <div class="bagTick2"><img src="assets/bag-tick-2-icon.svg" alt="" class="icon4" /></div>
        </div>
        <div class="group34646">
            <div class="message">Message</div>
            <div class="sms"><img src="assets/sms-icon.svg" alt="" class="icon5" /></div>
        </div>
        <div class="group34647">
            <div class="payment">Payment</div>
            <div class="emptyWallet"><img src="assets/empty-wallet-icon.svg" alt="" class="icon6" /></div>
        </div>
        <div class="group34648">
            <div class="settings">Settings</div>
            <div class="setting2"><img src="assets/setting-2-icon.svg" alt="" class="icon7" /></div>
        </div>
    </div>
    <div class="group34644">
        <div class="help">Help</div>
        <div class="question"><img src="assets/question-icon.svg" alt="" class="icon8" /></div>
    </div>
</div>
<div class="topHeader">
    <div class="searchBar">
        <input type="text" placeholder="search" #filter>
    </div>
    <div class="frame3">
        <app-notification></app-notification>
        <div class="profileAvtar"></div>
    </div>
</div>
<div class="salesInformation">Sales Information</div>
<div class="frame5">
    <div class="group47729">
        <button class="button"><div class="enterCostumerName">Enter Costumer Name</div></button>
        <div class="customer">Customer</div>
    </div>
    <div class="group47730">
        <button class="button2"><div class="enterInvoiceID">Enter Invoice ID</div></button>
        <div class="invoiceID">Invoice ID</div>
    </div>
    <div class="group47731">
        <button class="button3"><div class="startDate">Start Date</div></button>
        <div class="startDate2">Start Date</div>
    </div>
    <div class="group47732">
        <button class="button4"><div class="endDate">End Date</div></button>
        <div class="endDate2">End Date</div>
    </div>
</div>
<app-sales-information></app-sales-information>
