<div class="container">
  <div class="mt-2">
    <h2> History</h2>
  </div>
  <section class="ordered-section">
    <article class="order-card">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f3ce80ed948205081a60bbcf80f6fa0c257c64371be61c883a3e722b0571547?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="" class="order-card-bg" />
      <header class="order-header">
        <h2>Ordered</h2>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7add40eb39598ace6db3b9db1d1d8bd10de14d648b916ed9f9f53fbb545c84b0?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Order status icon" class="order-icon" />
      </header>
      <div class="order-list">
        <div class="order-item">
          <div class="order-item-content">
            <div class="order-details">
              <p>ID:</p>
              <p>Price:</p>
              <p>State:</p>
              <p>Last Update:</p>
            </div>
            <div class="order-actions">
              <button class="cancel-btn">Cancel</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/caa4957b7a01727ddbde0cfd457e7d949fbe6e7ca72242b4611d9fd5ba4efac2?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Action icon" class="action-icon" />
            </div>
          </div>
        </div>
        <div class="order-item">
          <div class="order-item-content">
            <div class="order-details">
              <p>ID:</p>
              <p>Price:</p>
              <p>State:</p>
              <p>Last Update:</p>
            </div>
            <div class="order-actions">
              <button class="cancel-btn">Cancel</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/39c9c5f2d1c28cd9884e1cfc05cfd538d490c4af3f2bade900f8f79f1908971a?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Action icon" class="action-icon" />
            </div>
          </div>
        </div>
        <div class="order-item">
          <div class="order-item-content">
            <div class="order-details">
              <p>ID:</p>
              <p>Price:</p>
              <p>State:</p>
              <p>Last Update:</p>
            </div>
            <div class="order-actions">
              <button class="cancel-btn">Cancel</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f9c11aa7cf58e47db2630071ddc05b300be9b7327ef0a65198a7df7927dd7527?placeholderIfAbsent=true&apiKey=e51cda157a3647efb6a362a799ee758d" alt="Action icon" class="action-icon" />
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
