body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: radial-gradient(circle, rgba(238, 238, 238, 1) 0%, rgba(209, 216, 224, 1) 35%, rgba(148, 187, 233, 1) 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://www.transparenttextures.com/patterns/brick-wall.png');
    opacity: 0.2;
    z-index: -1;
  }

.container {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.welcome-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
}

.welcome-message {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.login-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background: linear-gradient(135deg, #007bff, #0056b3);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

  .login-button:hover {
    background: linear-gradient(135deg, #0056b3, #007bff);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
