.table {
  text-align: left;
}

.div-2 {
  background-color: #fff;
  display: flex;
  margin-top: 128px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 29px 73px;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.img {
  aspect-ratio: 1;
  width: 250px;
  z-index: 10;
  max-width: 100%;
}

.div-16 {
  display: flex;
  gap: 20px;
  color: #fff;
  justify-content: space-between;
}

.btn-label {
  display: inline-block;
  padding: .5rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: .25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  .btn-label:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
