<div class="row">
  <div class="d-flex justify-content-center col-2 align-self-center">
    <app-button *ngIf="mode === 'view'" color="blue" label="Edit" (buttonClick)="onEditClick()"></app-button>
    <app-button *ngIf="mode !== 'view'" color="green" label="Exit" (buttonClick)="exitEditClick()"></app-button>
  </div>
</div>
<app-table [data]="data" [mode]="mode" [ignoredAttributes]="ignoredAttributes" [detailLink]="detailLink" (newOrderStateHandler)="addOrderState($event)" [orderDisplay]="OrderListDisplay"></app-table>
<app-pagination [total]="total" (onPageChange)="getCustomers($event)"></app-pagination>
