.table {
  text-align: left;
}

.div-2 {
  background-color: #fff;
  display: flex;
  margin-top: 128px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 29px 73px;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.img {
  aspect-ratio: 1;
  width: 250px;
  z-index: 10;
  max-width: 100%;
}

.div-16 {
  display: flex;
  gap: 20px;
  color: #fff;
  justify-content: space-between;
}
