<header class="header">
  <div class="header-content">
    <h1 class="logo">TayViet Leather</h1>
    <nav class="nav">
      <a href="#" class="nav-item nav-item-active">Home</a>
      <a href="#" class="nav-item">Product</a>
      <a href="#" class="nav-item">About us</a>
      <a href="#" class="nav-item">Support</a>
      <a href="#" class="nav-item">Contact</a>
    </nav>
    <div class="user-actions">
      <img src="app/assets/image/search.jpg" alt="seach" class="icon" />
      <img src="app/assets/icon/cart.png" alt="cart" class="icon" />
      <img src="app/assets/icon/notication.png" alt="notication" class="icon" />
      <div class="divider">
      </div>
      <button class="login-button" hef="login">
        Login
      </button>
    </div>
  </div>
</header>
